<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button (click)="atras()" end>
                <ion-icon name="arrow-back">
                    Atrás
                </ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Registrate</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <form (ngSubmit)="signup()" novalidate [formGroup]="form">

        <ion-list inset>
            <!-- NOMBRE -->
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input id="nombre" type="text" name="nombre" formControlName="nombre" required></ion-input>
            </ion-item>
            <div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">El nombre es requerido</span>
                </div>
            </div>
            <!-- FIN NOMBRE -->
            <!-- APELLIDO -->
            <ion-item>
                <ion-label floating>Apellido</ion-label>
                <ion-input type="text" name="apellido" formControlName="apellido"></ion-input>
            </ion-item>
            <div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">El apellido es requerido</span>
                </div>
            </div>
            <!-- FIN APELLIDO -->
            <!-- EMAIL -->
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" name="email" formControlName="email"></ion-input>
            </ion-item>
            <div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">El email es requerido</span>
                </div>
            </div>
            <!-- FIN EMAIL -->
            <!-- PASSWORD -->
            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input type="password " formControlName="password"></ion-input>
            </ion-item>
            <div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">Contraseña es requerida</span>
                </div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">6 caracteres minimo, 12 caracteres maximo</span>
                </div>
            </div>
            <!-- FIN PASSWORD -->
            <!-- REPETIR PASSWORD -->
            <ion-item>
                <ion-label floating>Repetir Contraseña</ion-label>
                <ion-input type="password " formControlName="passwordRepetir"></ion-input>
            </ion-item>
            <div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">Contraseña es requerida</span>
                </div>
                <div *ngIf="formInvalido">
                    <span class="colorWarning">6 caracteres minimo, 12 caracteres maximo </span>
                </div>
                <div *ngIf="passwordInvalido">
                    <span class="colorWarning">Contraseña no coincide</span>
                </div>
            </div>
            <!-- FIN REPETIR PASSWORD -->
        </ion-list>

        <div padding-horizontal>
            <button ion-button full type="submit">Registrar</button>
        </div>
    </form>
</ion-content>